//Styling of the show /hide button on saved-items.html
.show-hide-saved-items {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 3rem;

  #show-saved {
    @include font($primary-font, $primary-colour-shade1, $primary-colour-shade2, $font-size-xxs, $font-regular);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 8px $modal-background;
    padding: 1rem;

    &:active {
      box-shadow: 1px 1px 4px;
    }
  }
}