//Colours
$primary-colour: #333;
$primary-colour-shade1: #525151;
$primary-colour-shade2: #ebe7e7;
$secondary-colour: #fff;
$tertiary-colour: #00003f;
$quarternary-colour: #5d7b99;
$fifth-color: #eaefff;
$fifth-color-faded: #eaf4ff;
$white-translucent-min: rgba(255, 255, 255, 0.692);
$white-translucent-max: rgba(255, 255, 255, 0.288);
$modal-background: rgba(0, 0, 0, 0.5);
$transparent: rgba(255, 255, 255, 0);

//Font-families
$primary-font: 'Lato', Arial, Helvetica, sans-serif;
$secondary-font: 'Merriweather', serif;

//font-sizes
$font-size-normal: 1.1rem;
$font-size-xxs: 1.6rem;
$font-size-xs: 1.8rem;
$font-size-sm: 2rem;
$font-size-md: 3.5rem;
$font-size-lg: 5rem;

//Font-weight
$font-thin-sm: 100;
$font-thin-md: 300;
$font-regular: 400;
$font-bold-md: 700;
$font-bold-lg: 900;


